.letter-card {
    width: 50px;
    height: 50px;

    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;

    border: 1px solid #333333;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #1565C0;
    color: white;
}

.letter-card.letter-card--empty {
    background-color: #616161;
}