.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over .game__selection {
    margin-bottom: 30px;
}

.game-over .game__score {
    margin-bottom: 30px;
}

.game-over .game__recap {
    margin-bottom: 40px;
}