.app {
    display: flex;
    flex-direction: column;

    max-width: 1008px;
    margin: 0 auto;
    padding-top: 50px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

button[disabled] {
    cursor: auto !important;
    background-color: #777777 !important;
}

button.button--blue {
    background-color: #1565C0;
    color: #EEEEEE;
}

button.button--blue:hover, button.button--blue:focus {
    background-color: #00328D;
}

button.button--grey {
    background-color: #BBBBBB;
    color: #333333;
}

button.button--grey:hover, button.button--grey:focus {
    background-color: #DDDDDD;
}

button.button--green {
    background-color: #388E3C;
    color: #CCCCCC;
}

button.button--green:hover, button.button--green:focus {
    background-color: #1B5E20;
}

button.button--red {
    background-color: #F44336;
    color: #EEEEEE;
}

button.button--red:hover, button.button--red:hover {
    background-color: #D32F2F;
}

.game__score {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}

.game__round-description {
    font-size: 24px;
    margin-bottom: 40px;
}

.game__selection {
    margin-bottom: 30px;
}

.game__full-width {
    width: 720px;
}